<div class="container" style="padding-top: 4em;">
    

    <div class="row text-center">
        <div class="col-sm-12">
            <h6>All Added Products</h6>
        </div>
    </div>
    <div class="row mb-3">
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produt Name</th>
                    <th scope="col">Produt Details</th>
                    <th scope="col">Price</th>
                    <th scope="col">img</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                {{#each this as | val index|}}
                <tr>
                    <th scope="row">{{add @index}}</th>
                    <td>{{this.productName}}</td>
                    <td>{{this.productDetails}}</td>
                    <td>{{this.productPrice}} SDG</td>
                    <td><img src="{{this.imgPath}}" class="product-img"></td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>



    document.getElementById('imgFile').onchange = function () {
        const reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        reader.onload = function () {
            document.getElementById('productImg').src = this.result;
            $('#productImg').addClass('profile-img');
            $('#productImg').removeClass('d-none')
        }
    }
</script>