<div class="container" style="padding-top: 20px;">
    <h5 class="section">{{title}} Category</h5>

    {{#each brand}}
       <div class="gallery" >
        {{#each this}}
           <div class="content" >
                <div class="header">{{this.brandName}}</div>
                <img src="/images/logo/{{this.imgPath}}" >
                <div class="card-body">  
                    <a href="./{{title}}{{this.brandName}}/{{this._id}}" class="btn btn-info btn-sm" style="margin-top: 10px;">Browse</a>
                </div>
                
        </div>
        {{/each}}
       </div>
    {{/each}}
</div>