<div class="container" style="padding-top: 3em;">
    <div class="row mb-3 justify-content-start ">
        <!-- Coloumn One -->
        <div class="col-sm-4 text-center">
            {{#if userprofile.userImage}}
                <img src="{{userprofile.userImage}}" class="profile-img" id="profileImg"> <br>
                
            {{else}}
               <img src="/images/profile/hd-man.png" class="profile-img" id="profileImg"> <br>
            {{/if}}
            <input type="file" name="" id="imgFile" style="font-size: 14px;" class="d-none">
            <h4>{{{userprofile.userName}}}</h4>
            <div class="row mb-2 justify-content-center">
                <div class="col-sm-10 text-center">
                    <a href="/users/update" class="btn btn-success btn-sm" id="btn_update"><i class="fa fa-pencil"
                            aria-hidden="true"></i> update</a>
                </div>
            </div>
        </div>
        <!-- Coloumn Two -->
        <div class="col-sm-6 justify-content-end">
            <h4>Profile Data</h4>
            <ol class="list-group list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Name</div>
                        {{userprofile.userName}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Email</div>
                        {{userprofile.userMail}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Address</div>
                        {{userprofile.userAddress}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Phone</div>
                        {{userprofile.userPhone}}
                    </div>
                </li>
                
            </ol>
        </div>
    </div>
    {{#if userOrder}}
        <div class="row mb-3 justify-content-start ">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header">All Orders</h5>
                <div class="card-body">
                    {{#each userOrder as | val index|}}
                    <table class="table table-bordered table-sm text-center">

                        <thead>
                            <tr class="table-dark">
                                <th scope="col" colspan="4">Order {{add @index}}</th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="1">{{this.name}}</th>
                                <th scope="col" colspan="2"> {{this.address}}</th>
                                <th scope="col" colspan="1"> {{this.orderPrice}} SDG</th>
                            </tr>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each this.cart.selectedProduct as | val indexProduct|}}
                            <tr>
                                <td>{{add @indexProduct}}</td>
                                <td>{{this.name}}</td>
                                <td>{{this.quantity}}</td>
                                <td>{{this.price}} - SDG</td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td colspan="4">
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop">
                                        <i class="fa-solid fa-trash"></i> Delete Order
                                    </button>

                                </td>
                            </tr>
                            <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Attention</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to delete this order?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                            <a href="/users/deleteorder/{{this._id}}" class="btn btn-danger btn-sm"><i
                                                    class="fa-solid fa-trash"></i>delete order</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>
                    </table>
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
    {{else}}
       <div class="row mb-3 justify-content-center ">
        <div class="col-sm-12 text-center" >
            <h4>No Orders!</h4>
        </div>
       </div>
    {{/if}}


</div>
